<div class="input-group mb-3">
    @*  <input type="text" placeholder=" filter server" class="form-control" @onchange="HandleServerFilterSearch"/> *@
    <input type="text" placeholder=" filter server" class="form-control"
           @bind-value="Serverfilter"
           @bind-value:event="oninput" />
    &nbsp;
    <button class="btn btn-outline-secondary" 
    id="button-search" type="button" 
    @onclick="HandleSearch">Search</button>

</div>

@code {
    [Parameter]
    public string Serverfilter { get; set; } = "";
    [Parameter]
    public EventCallback<string> filterCallBack { get; set; }
    private void HandleSearch(){
        filterCallBack.InvokeAsync(Serverfilter);
    }
}
